body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "JetBrains Mono", sans-serif;
	background: #f2b21d;
	background: linear-gradient(
		90deg,
		rgba(242, 178, 29, 1) 20%,
		rgba(252, 244, 78, 1) 75%
	);
}

div {
	/* border: 1px solid black; */
	border-radius: 25px;
}

.calculator {
	height: min(700px, 95%);
	width: min(480px, 100%);
	display: flex;
	flex-direction: column;
	background-color: #303030;
}

.display {
	height: 150px;
	padding: 10px;
	margin: 10px;
	text-align: end;
	background-color: lightcyan;
	border-radius: 15px;
}

.maths {
	top: 10px;
	font-size: 25px;
	overflow: hidden;
}

.result {
	font-size: 75px;
	overflow: hidden;
}

.keypad {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.row {
	flex: 1;
	display: flex;
}

.button {
	width: 100px;
	margin: 10px;
	font-family: "JetBrains Mono";
	font-size: 25px;
	border: none;
	border-radius: 25px;
	background-color: rgb(40, 40, 40);
	box-shadow: 2px 2px 7px #484848;
	color: white;
}

button:hover {
	cursor: pointer;
	background-color: #161616;
}

.double {
	width: 220px;
	background-color: #f2b21d;
}

.double:hover {
	background-color: #f2b21ddc;
}
